<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Jumbotron Template for Bootstrap</title>
  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="jumbotron.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="heading-left pageHeader">Canadian Mortgage Calculator</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <p>Enter your mortgage details to will find out how much you can save by changing your payment frequency or making
      an extra payment(s).<br></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-5">
      <h4 class="heading-left categoryheader">Mortgage Details</h4>
      <form role="form">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon mortgageDetailsLabel">Mortgage Amount ($)</span>
            <input [(ngModel)]="MortgageAmount" (ngModelChange)="pushMe()" name="MortgageAmount" type="number" min="100" class="form-control labelMrtgCalc" placeholder="e.g. 100000">
            <input class="form-control labelMrtgCalcFormatted" placeholder="{{MortgageAmount | currency:'USD':true:'1.2-2'}}" disabled>

          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon mortgageDetailsLabel">Mortgage Amortization (months)</span>
            <input [(ngModel)]="MortgageAmortizationInMonths" (ngModelChange)="pushMe()" name="MortgageAmortizationInMonths" type="number" min="1" class="form-control labelMrtgCalc" placeholder="e.g. 300 (25 years)">
            <input class="form-control labelMrtgCalcFormatted" placeholder="{{MortgageAmortizationConvertedtoYears}} years, {{MortgageAmortizationConvertedtoMonths}} months" disabled>
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon mortgageDetailsLabel">Annual Interest Rate (%)</span>
          <input [(ngModel)]="InterestRate" (ngModelChange)="pushMe()" name="InterestRate" type="number" min="0" step="0.01" class="form-control labelMrtgCalc" placeholder="e.g. 2.75">
          <input class="form-control labelMrtgCalcFormatted" placeholder="Per Payment: {{InterestRatePerPayment*100}}%" disabled>
        </div>
        <br>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon mortgageDetailsLabel">Payment Frequency</span>
            <select [(ngModel)]="PaymentFrequency" (ngModelChange)="pushMe()" name="PaymentFrequency" id="formInput119" class="form-control">
              <option>Annually</option>
              <option>Semi-Annually</option>
              <option>Quarterly</option>
              <option>Bi-Monthly</option>
              <option>Monthly</option>
              <option>Semi-Monthly</option>
              <option>Bi-Weekly</option>
              <option>Weekly</option>
              <option>Accelerated Bi-Weekly</option>
              <option>Accelerated Weekly</option>
            </select>
          </div>
        </div>
      </form>
      <p></p>
      <div class="btn-group">
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="#">Action</a>
          </li>
          <li>
            <a href="#">Another action</a>
          </li>
          <li>
            <a href="#">Something else here</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Separated link</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-5">
      <h4 class="heading-left categoryheader">Mortgage Calculation</h4>
      <div class="input-group">
        <span class="input-group-addon labelgroup">Mortgage Payment</span>
        <h4 class="valuelabel">{{MortgagePayment | currency:'USD':true:'1.2-2'}} {{PaymentFrequency}}</h4>
      </div>
      <div class="input-group">
        <span class="input-group-addon labelgroup">Total Cost of Loan</span>
        <h4 class="valuelabel">{{TotalCostofLoan | currency:'USD':true:'1.2-2'}}</h4>
      </div>
      <div class="input-group">
        <span class="input-group-addon labelgroup">Interest Paid for Term</span>
        <h4 class="valuelabel">{{InterestPaidforTerm | currency:'USD':true:'1.2-2'}}</h4>
      </div>
      <div class="input-group">
        <span class="input-group-addon labelgroup">Total # of Payments</span>
        <h4 class="valuelabel">{{TotalNumberofPayments}}</h4>
      </div>
      <div class="input-group">
        <span class="input-group-addon labelgroup">Pay-Off Date</span>
        <h4 class="valuelabel">Sept, 2016</h4>
        <h3 class="valuelabel">10 years 0 days</h3>
      </div>
    </div>
  </div>
  <hr>


  <h3>Amortization Schedule</h3>


  <table border=1>
    <thead>
    <tr>
      <th>Interest</th>
      <th>Principal</th>
      <th>Balance</th>
    </tr>
    </thead>

    <tbody *ngFor="let group of groups">
    <tr *ngFor="let member of group.members">
      <td>{{ member.interestPaid }}</td>
      <td>{{ member.towardMortgageBalance }}</td>
      <td>{{ member.balance }}</td>
    </tr>
    </tbody>
  </table>

  <br><br>

  <div class="jumbotron">
    <div class="container">
      <p>In Canada, loan interest is compounded semi-annually, rather than monthly as it is in the US. Because of the different compounding schedule, monthly payments in Canada are slightly lower than payments in the US, given the same principal, loan term, and nominal interest rate.<br></p>
      <p>For example, consider a loan of $250,000 for 20 years at an interest rate of 2.20%. When the rate is compounded monthly, you pay $1,288.52 per month. When the rate is compounded every six months, you pay only $1,287.33 per month. This is a savings of $1.19 every month, which becomes a total savings of $357.00 over the course of the loan.<br></p>
    </div>
  </div>

  <footer>
    <p>© ETX Software Inc. 2016</p>
  </footer>
</div>



<!-- Bootstrap core JavaScript  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
